<!-- Footer -->

<footer class="footer">
    <div class="content has-text-centered">
        <a href="">
            <i class="fab fa-facebook-f fa-3x"></i>
        </a>
        <!-- Twitter -->
        <a href="">
            <i class="fab fa-twitter fa-3x"></i>
        </a>
        <!--Linkedin -->
        <a href="">
            <i class="fab fa-linkedin-in fa-3x"></i>
        </a>
        <!--Instagram-->
        <a href="https://www.instagram.com/mdelmar.design/">
            <i class="fab fa-instagram fa-3x"></i>
        </a>
    </div>


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: 
       <img src="../../../assets/images/mdsgIco.png" class="brandIcoFooter" style="margin-right: 2px;"> mdelmar.design
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->