.footer {
    background-color: #101010;
    color: white;
    text-align: center;
}

.footer-copyright {
    background-color: #191919;
    padding: 1em;
    font-size: 20px;
}

.content {
    a {
        color: inherit;
       i {
        margin: 1em;
       } 
    }
}

.brandIcoFooter {
    margin-right: 5px;
    margin-bottom: -5px;
    margin-left: 10px;
    max-width: 25px;
}





