<!-- Footer -->

<footer class="footer">
    <div class="content has-text-centered">
        <a class="fb-ic">
            <i class="fab fa-facebook-f"></i>
        </a>
        <!-- Twitter -->
        <a class="tw-ic">
            <i class="fab fa-twitter"></i>
        </a>
        <!--Linkedin -->
        <a class="li-ic">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <!--Instagram-->
        <a class="ins-ic">
            <i class="fab fa-instagram"></i>
        </a>
        <!--Pinterest-->
        <a class="pin-ic">
            <i class="fab fa-pinterest-square"></i>           
        </a>
    </div>


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->