
            <div class="content">
                <div class="image">
                    <img src="../../assets/images/eShop.jpg">
                </div>
                <div class="separator">
                </div>
                <div class="textContent">
                    <small>whould you like any of my products?</small>
                    <span>eShop</span>
                    <p>Man signs moving of may may made above likeness kind fowl together gathered third their itself,
                        earth void signs Thing waters.
                        To give fourth shall days stars. Male darkness, it appear them the there which fruit unto
                        creepeth years subdue day bearing man given
                        she’d grass so them.

                        From. Above dominion place she’d the itself fish let creature kind. Sixth moveth whose. Spirit.
                        Seasons fruit that earth dry be fly
                        gathered yielding made his itself firmament creeping dry abundantly lights make.</p>
                    <button (click)="eShop()">Take a look</button><br>
                </div>

            </div>
            <app-footer></app-footer>