.background {
  background-image: url(../../assets/images/SeaBg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.content {
  //height: 110vh;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  padding: 5em;
  position: relative;
  padding-top: 0em;

  .presentation {
    display: flex;
    justify-content: center;
    padding: 5%;
    width: 80%;


    .image, .textAbout {

      padding: 2%;
    }

    img {
      max-width: 300px;
      border: 5px solid white;
      border-radius: 155px;
      margin-top: 20%;
    }
    .textAbout {
      p {
        font-size: 23px;
        color: rgb(190, 190, 190);
        margin-top: 1em;
      }
    }

  }

  .curriculum {
    padding: 2%;

    P{
      font-size: 22px;
      color: rgb(190, 190, 190);
    }

  }
}

@media screen and (max-width: 1715px) {
  .aboutRow {
    .about1,
    .about2,
    .about3 {
      margin: 0;
      svg {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
@media screen and (max-width: 1523px) {
  .aboutRow {
    .aboutBody {
      width: 190px;
      max-width: 100%;
    }
  }
}
