<div class="content">
                <div class="presentation">
                    <div class="image">
                        <img src="../../assets/images/MMCV.jpg">
                    </div>
                    <div class="textAbout">
                        <h1>Hi there, my name is Lorem Ipsum!</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, praesentium fugit earum consequatur maiores ab sed nemo placeat labore, maxime ad sequi quis delectus ipsa voluptatum. Repellendus ut voluptas omnis.</p>    
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptatem natus veritatis quidem iusto. Vel aspernatur blanditiis id deserunt officiis magnam itaque tempore! Nobis, labore modi porro possimus est officiis!</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam dolores atque velit corrupti amet nesciunt doloremque! Quia, alias atque! Architecto esse explicabo fuga accusantium ducimus provident similique id exercitationem assumenda.</p>
                    
                    </div>
               </div>
               <div class="curriculum">

               </div>   
</div>

<app-footer></app-footer>