<div class="content">
                <div class="presentation">
                    <div class="image">
                        <img src="../../assets/images/MMCV.jpg">
                    </div>
                    <div class="textAbout">
                        <h1>Hi there, my name is Maria Del Mar!</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, praesentium fugit earum consequatur maiores ab sed nemo placeat labore, maxime ad sequi quis delectus ipsa voluptatum. Repellendus ut voluptas omnis.</p>    
                    </div>
               </div>
               <div class="curriculum">

               </div>   
</div>

<app-footer></app-footer>