<div class="content">
                <div class="presentation">
                    <div class="image">
                        <img src="../../assets/images/MMCV.jpg">
                        <h3>Contact me:</h3>
                        <hr>
                        <br>
                        <h4><i class="fas fa-envelope"></i> | mdelmar.design@gmail.com</h4>
                        <h4><i class="fas fa-phone"></i> | +34 6678894512</h4>
                    </div>
                    <div class="textAbout">
                      <h1 style="text-align: center;">A LITTLE ABOUT ME</h1>
                      <hr>
                        <h1 style="padding-top: 1em;">Hi there, my name is Lorem Ipsum!</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, praesentium fugit earum consequatur maiores ab sed nemo placeat labore, maxime ad sequi quis delectus ipsa voluptatum. Repellendus ut voluptas omnis.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptatem natus veritatis quidem iusto. Vel aspernatur blanditiis id deserunt officiis magnam itaque tempore! Nobis, labore modi porro possimus est officiis!</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam dolores atque velit corrupti amet nesciunt doloremque! Quia, alias atque! Architecto esse explicabo fuga accusantium ducimus provident similique id exercitationem assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, sapiente quibusdam quo dolores consequatur, nobis itaque vitae animi nisi enim adipisci, laboriosam id eveniet illo voluptates illum hic eum officia! Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit error minima eius cumque ab. Magni, eos at porro ea aspernatur fuga. Ipsum corrupti saepe excepturi dicta laboriosam velit, consequatur ab.</p>

                    </div>
               </div>
               <h1 style="text-align: center;">CURRICULUM</h1>
               <hr>
               <div class="curriculum">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quasi sed mollitia, amet, aut omnis, quod iure delectus fuga atque aspernatur adipisci quidem autem eligendi earum officiis ipsam molestias quia?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dolorum perferendis odit tempora cupiditate odio, facilis voluptatum iusto amet incidunt consequuntur esse nihil at, deserunt aspernatur similique, dolores rem! Possimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. A excepturi accusantium deserunt fugit id in odio possimus, ex, non magni odit tempora quisquam reprehenderit voluptatum consequuntur! Excepturi incidunt eos ullam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, consequuntur nemo expedita incidunt, iure nihil ratione nostrum facere dolor quia mollitia, quas id perspiciatis temporibus explicabo eius voluptas magnam hic!</p>
               </div>
</div>

<app-footer></app-footer>
