  .portContent {
    margin-top: 12vh;
    background-color: rgba(255, 255, 255, 0.95);
    color: black;
    text-align: center;


    .title {
      font-size: 40px;
      font-weight: bold;
    }

    .galleryContent {
      padding: 1em;


      .projects{
        box-shadow: 1px 2px 10px 2px black;
        display: inline-block;
        margin: 1em;
        height: 300px;
        position: relative;

        .projectImg {
          max-width: 500px;
          max-height: 300px;
          height: 100%;
        }

        .projectInfo {
          opacity: 0;
          background-color: rgba(31, 31, 31, 0.6);
          color: white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 1em;
          width: 85%;
          height: 75%;
          outline: solid #a7a7a7;
          outline-offset: -15px;

          &:hover {
            opacity: 1;
          }

          h1 {
            margin-bottom: 1em;
            margin-top: 1em;
          }

          p {
            margin-bottom: 0.5em;
          }

          a {
            color: white;
            text-decoration: underline;
          }
        }

        img {
          width: 100%;
          max-width:500px;
          max-height: 400px;
          
        }
      }
      
    }

    button {
      margin-bottom: 2em;
      width: 220px;
      height: 60px;
      border-radius: 100rem;
      border: solid 5px transparent;
      color: white;
      font-size: 18px;
      background-image: linear-gradient(
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        ),
        linear-gradient(101deg, #00ffba, #8a0bdb);
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-shadow: 2px 1000px 1px #1f1f1f inset;
      text-decoration: none;
  
      &:hover {
        box-shadow: 2px 1000px 1px rgba(36, 36, 36, 0.99) inset;
      }
  
      &:focus {
        outline: 0;
      }
    }
  }


  
  a {
    color: #1976d2;
    text-decoration: none;
    &:visited {
      color: #1976d2;
      text-decoration: none;
    }
    &:hover {
      color: #1976d2;
      text-decoration: none;
      color: #125699;
    }
  }
  
  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
    a {
      display: flex;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 1715px) {
    .aboutRow {
      .about1,
      .about2,
      .about3 {
        margin: 0;
        svg {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  @media screen and (max-width: 1523px) {
    .aboutRow {
      .aboutBody {
        width: 190px;
        max-width: 100%;
      }
    }
  }
  