            <div class="portContent">
                <span class="title"> PORTFOLIO </span>
                <div class="galleryContent">
                    <div class="projects" *ngFor="let projects of proyectos | slice:0:6+(page);">
                     <img (click)="video1.show()" class="projectImg img-fluid z-depth-1"
                              src="../../assets/project_images/{{ projects.image }}"
                              >
                     <div class="projectInfo">
                       <h1>{{ projects.title }}</h1>
                       <p>{{ projects.description }}</p>
                       <a href="/Portfolio/project/{{ projects.id }}">See more..</a>
                     </div>
                    </div>                
                  </div>              
                    <button (click)="page=page+3">Load more..</button><br>
            </div>
        