            <div class="contentHome">
                <div class="searchContainer">
                  <div class="searchContainerBg"></div>
                  <div class="searchContainerText">
                    <p><span style="font-weight: bold;">Looking for something?</span><br> Take a look at our<br> designs, you'll love them</p>
                    <!-- SEARCHBAR-->
                    <p>
                      <mat-form-field>
                        <mat-select [formControl]="productServerSideCtrl" placeholder="Search Products">
                          <!-- place ngx-mat-select-search inside mat-option to allow opening without initial selection -->
                          <mat-option>
                            <ngx-mat-select-search [formControl]="productServerSideFilteringCtrl" [searching]="searching"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option *ngFor="let product of filteredServerSideProducts | async" [value]="product">
                            <a href="/eShop/product/{{ product.id }}" style="text-decoration: none; color: black;">{{product.name}}</a>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </p>
                    <!-- END SEARCHBAR-->
                  </div>
                </div>
                <div class="shopContent">
                  <hr>
                  <h2>LATEST PRODUCTS</h2>
                  <hr style="margin-bottom: 2em">
                    <div class="shopItems" layout="row" layout-wrap>
                      <mat-card class="shopItem" *ngFor="let product of products | slice:0:8+(page)">
                        <img src="../../assets/product_images/{{ product.image }}" class="md-card-image">
                        <mat-card-content>
                          <p>{{ product.productCategory.name }}</p>
                          <h2>{{ product.name }}</h2>
                          <p class="prodPrice">{{ product.price }}€ </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <hr style="opacity: 20%">
                          <!-- <button mat-button><i class="fas fa-shopping-cart"></i> Add to cart</button> -->
                          <add-to-cart [quantity]="1" [item]="product" [buttonText]="'Add item'" style="float: left; margin: 1em"></add-to-cart>

                          <a href="/eShop/product/{{ product.id }}"><button mat-button style="margin: .75em">View</button></a>
                        </mat-card-actions>
                      </mat-card>
                  </div>
                  <div class="loadMoreContainer">
                    <button (click)="page=page+3" class="loadMore">Load more..</button><br>
                  </div>
                </div>
            </div>
