            <div class="content">
                <div class="searchContainer">
                   <span>Looking for something? Take a look at our designs, you'll love them</span>
                    <!-- ToDo SEARCHBAR-->
                </div>
                <div class="shopContent">
                    <mat-card class="shopItem">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                        <mat-card-content>
                            <h1>Item name</h1>
                            <p>Precio</p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button>Numeros</button>
                          <button mat-button>BUY</button>
                        </mat-card-actions>
                      </mat-card>
                    <button>Load more..</button><br>
                </div>
            </div>
        