<div class="container content1">
    <div class="coverHome">
        <span>We create original <br> products & services </span><br>
        <small>From small bussinesses to large companies, we have been successfully <br> creating
            products for our
            clients.</small><br>
        <button (click)="Portfolio()">See our work</button><br>

        <svg class="scroll" id="scroll" xmlns="http://www.w3.org/2000/svg" width="25" height="41" viewBox="0 0 25 41">
            <g id="Rectángulo_39" data-name="Rectángulo 39" fill="none" stroke="#fff" stroke-width="1">
                <rect width="25" height="41" rx="12.5" stroke="none" />
                <rect x="0.5" y="0.5" width="24" height="40" rx="12" fill="none" />
            </g>
            <rect id="Rectángulo_40" data-name="Rectángulo 40" width="3" height="8" rx="1.5"
                transform="translate(11 10)" fill="#fff" />
        </svg>
    </div>
</div>

<div class="container">
    <div class="div row aboutRow">
        <div class="about1">
            <span class="aboutTitle">UI/UX DESIGN</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="121.345" height="127.665" viewBox="0 0 121.345 127.665">
                <g id="icon" transform="translate(2.052 2)">
                    <path id="Shape" d="M70.256,97.141h-41.6L32.114,84.7H66.8Z" transform="translate(9.166 26.524)"
                        fill="none" stroke="#5d3fdc" stroke-width="4" fill-rule="evenodd" />
                    <path id="Shape-2" data-name="Shape"
                        d="M24.526,58.1c-9.457,2.516-19.754-5.32-23-17.5s1.8-24.095,11.253-26.611a14.438,14.438,0,0,1,7.758.126"
                        transform="translate(-0.547 1.927)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                    <path id="Shape-3" data-name="Shape"
                        d="M69.858,58.1c9.457,2.516,19.754-5.32,23-17.5s-1.8-24.1-11.252-26.612a14.456,14.456,0,0,0-7.853.154"
                        transform="translate(23.405 1.927)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                    <path id="Shape-4" data-name="Shape"
                        d="M88.45,2.04h-68.9A4.054,4.054,0,0,0,15.5,6.094V43.7C15.5,66.67,32.77,85.357,54,85.357S92.5,66.67,92.5,43.7V6.094A4.053,4.053,0,0,0,88.45,2.04Z"
                        transform="translate(4.62 -2.04)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                    <path id="Shape-5" data-name="Shape"
                        d="M54.653,28.32c-6.264-17.836-4.765-17.41-10.882,0C24.639,28.7,25.6,27.478,40.4,38.587c-5.532,18.09-6.464,16.852,8.812,6.335,15.683,10.8,14.207,11.3,8.81-6.335,15.246-11.437,15.206-9.9-3.37-10.267Z"
                        transform="translate(9.404 2.474)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                    <path id="Shape-6" data-name="Shape" d="M40.222,89.561V70.984" transform="translate(13.164 21.785)"
                        fill="none" stroke="#5d3fdc" stroke-width="4" fill-rule="evenodd" />
                    <path id="Shape-7" data-name="Shape" d="M48,89.561V70.984" transform="translate(15.852 21.785)"
                        fill="none" stroke="#5d3fdc" stroke-width="4" fill-rule="evenodd" />
                </g>
            </svg>
            <p class="aboutBody">Let you’ll one had. Gathering replenish behold open subdue signs place
                hath meat image
                fly. Whose together. Over there you,
                fill herb set had likeness male great living signs may. There moveth, above heaven said
                male.</p>
        </div>
        <div class="about2">
            <span class="aboutTitle">WORDPRESS</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="134.25" height="126.458" viewBox="0 0 134.25 126.458">
                <g id="icon" transform="translate(2.443 2)">
                    <path id="Shape" d="M67.578,123.144l64.682-81.1L107.382,1.893H27.774L2.9,42.04Z"
                        transform="translate(-2.895 -1.893)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                    <path id="Shape-2" data-name="Shape" d="M2.9,29.886H132.26" transform="translate(-2.895 10.262)"
                        fill="none" stroke="#5d3fdc" stroke-width="4" fill-rule="evenodd" />
                    <path id="Shape-3" data-name="Shape" d="M54.979,1.893,31.911,42.04l23.068,81.1"
                        transform="translate(9.703 -1.893)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                    <path id="Shape-4" data-name="Shape" d="M48,1.893,71.064,42.04,48,123.144"
                        transform="translate(16.687 -1.893)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                    <path id="Shape-5" data-name="Shape" d="M64.08,42.04,80.816,1.893"
                        transform="translate(23.671 -1.893)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                    <path id="Shape-6" data-name="Shape" d="M36.978,42.04,20.242,1.893"
                        transform="translate(4.637 -1.893)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                </g>
            </svg>

            <p class="aboutBody">Let you’ll one had. Gathering replenish behold open subdue signs place
                hath meat image
                fly. Whose together. Over there you,
                fill herb set had likeness male great living signs may. There moveth, above heaven said
                male.</p>
        </div>
        <div class="about3">
            <span class="aboutTitle">DEVELOPMENT</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="126.729" height="127.88" viewBox="0 0 126.729 127.88">
                <g id="icon" transform="translate(4.798 4.859)">
                    <path id="Shape"
                        d="M3.249,123.444H123.18V2.423L3.249,123.444ZM102.035,102.3H63.206L102.035,63v39.3Z"
                        transform="translate(-3.249 -2.423)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                    <path id="Shape-2" data-name="Shape" d="M26.241,71.152,37.2,82.11"
                        transform="translate(4.144 19.676)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                    <path id="Shape-3" data-name="Shape" d="M33.744,63.65l5.861,5.863"
                        transform="translate(6.556 17.264)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                    <path id="Shape-4" data-name="Shape" d="M41.245,56.148,52.206,67.106"
                        transform="translate(8.968 14.852)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                    <path id="Shape-5" data-name="Shape" d="M48.748,48.646l5.861,5.862"
                        transform="translate(11.381 12.439)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                    <path id="Shape-6" data-name="Shape" d="M56.25,41.143,67.209,52.1"
                        transform="translate(13.793 10.027)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                    <path id="Shape-7" data-name="Shape" d="M63.752,33.641l5.861,5.865"
                        transform="translate(16.205 7.615)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                    <path id="Shape-8" data-name="Shape" d="M71.254,26.14,82.213,37.1"
                        transform="translate(18.617 5.203)" fill="none" stroke="#5d3fdc" stroke-width="4"
                        fill-rule="evenodd" />
                </g>
            </svg>

            <p class="aboutBody">Let you’ll one had. Gathering replenish behold open subdue signs place
                hath meat image
                fly. Whose together. Over there you,
                fill herb set had likeness male great living signs may. There moveth, above heaven said
                male.</p>
        </div>
    </div>
    <div class="row aboutRow2">
        <div class="aboutImg">
            <img src="../../assets/images/aboutUs.png">
        </div>
        <div class="aboutUs">
            <span>ABOUT US</span>
            <p>Man signs moving of may may made above likeness kind fowl together gathered third their
                itself, earth void signs Thing waters.
                To give fourth shall days stars. Male darkness, it appear them the there which fruit
                unto creepeth years subdue day bearing man given she’d grass so them.<br>
                <br>
                From. Above dominion place she’d the itself fish let creature kind. Sixth moveth whose.
                Spirit. Seasons fruit that earth dry be fly gathered yielding
                made his itself firmament creeping dry abundantly lights make.</p>
            <span style="font-size: 20px">Our Skills</span>
            <div class="progressBars">
                <small>Adobe Ilustrator</small>
                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                <small>PS</small>
                <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                <small>Adobe Indesign</small>
                <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                <small>Adobe Xd</small>
                <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                <small>Autocad</small>
                <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                <small>Solid Works</small>
                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                <small>Rhinoceros</small>
                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>