

.content {
  height: 110vh;
  background-color: rgba(0, 0, 0, 0.95);
  color: rgb(255, 255, 255);
  //padding: 5em;
  position: relative;

  .projectData {
    display: block;
    padding: 5%;
    text-align: center;

  .projectInfo, .projectImg {
     padding: 2%;
     height: 100%;
  }

  .projectImg {

    img {
      max-width: 600px;
    }

  }

  }
  button {
    display: block;
    margin: auto;
    width: 8%;
    }
}


@media screen and (max-width: 1715px) {
  .aboutRow {
    .about1,
    .about2,
    .about3 {
      margin: 0;
      svg {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
@media screen and (max-width: 1523px) {
  .aboutRow {
    .aboutBody {
      width: 190px;
      max-width: 100%;
    }
  }
}


//NEW

.container {
    /* display: block; */
    height: 100%;
    width: 86.5%;
    max-height: 75%;
    /* max-width: 750px; */
    /* padding: 2em 2em 0; */
    position: absolute;
    /* top: 38%; */
    /* left: 50%; */
    /* -webkit-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
    display: -webkit-box;
    display: flex;
    /* -webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
    flex-direction: column;
}

.title {
  //background: rgba(0,0,0,0.5);
  user-select: none;
}
.button {
  background: #3f51b5;
  cursor: pointer;
  border-radius: 0.3em;
}
.title,
.button {

  padding: 0.5em 0.7em;

}

